@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.container {
  @apply bg-black p-8 min-h-screen mt-5 relative;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(34, 34, 34, 0.8));
  margin: 30px 10px;
  width: calc(100% - 20px);
}

@screen lg {
  .container {
    @apply rounded-lg;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.table td {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.table img {
  border-radius: 4px;
}

.button {
  background-color: #c82222;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 5px;
}

.button:hover {
  background-color: #ff0000;
  transform: scale(1.05);
}

.button:active {
  background-color: #a7a7a7;
  transform: scale(0.95);
}

.error {
  color: rgb(239 68 68);
  font-size: 0.875em;
  margin-top: 5px;
  text-align: center;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
}

.modal img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal button {
  width: 100%;
  margin-top: 10px;
}

.modalText {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ccc;
}

.viewReceiptButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.viewReceiptButton:hover {
  background-color: #0056b3;
}

.select {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
}

.centered {
  text-align: center;
}

.hideOnMobile {
  display: table-cell;
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center; /* Centrar el contenedor */
}

.filterContainer input {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: black;
}

.filterContainer button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.selectFilter {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
}

.navButton {
  background-color: #c82222;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 5px;
  font-family: 'Orbitron', sans-serif; /* Apply Orbitron font */
}

.navButton:hover {
  background-color: #ff0000;
  transform: scale(1.05);
}

.navButton:active {
  background-color: #a7a7a7;
  transform: scale(0.95);
}

.navButtonAprobadas {
  margin-top: 30px; /* Add 30px top margin */
}

.form {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.winnersList {
  margin-top: 20px;
}

.winner {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.winner img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.select {
  background-color: black;
  color: white;
}

.customerInfo {
  margin: 15px 0;
  padding: 10px;
  background: #000000;
  border-radius: 4px;
}

.customerInfo p {
  margin: 5px 0;
}

.input, .select, .fileInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.prizeInput {
  background-color: #000000;
  color:#ffffff
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: #1F2937;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}