.ticketQuantityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.percentageBarContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  margin-bottom: 50px;
  height: 40px;
  /* Aumentar la altura de la barra a 40px */
}

.percentageBar {
  height: 100%;
  /* Ajustar la altura de la barra al 100% del contenedor */
  background-color: #ff5555;
  transition: width 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.percentageText {
  font-size: 1.2rem;
  /* Aumentar el tamaño del texto a 1.2rem */
  color: #000000;
  /* Color del texto dentro de la barra */
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  /* Centrar verticalmente */
  left: 50%;
  /* Centrar horizontalmente */
  transform: translate(-50%, -50%);
  /* Ajustar la posición para centrar */
}

.ticketQuantityLabel {
  font-size: 3rem;
  margin-bottom: 10px;
}

.ticketQuantityControls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ticketButton {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ticketButton:disabled {
  cursor: not-allowed;
}

.ticketCount {
  margin: 0 15px;
  font-size: 1.5rem;
}

.ticketPrice {
  font-size: 1.2rem;
}

.disabledButton {
  background-color: #cccccc;
  color: #666666;
}

/* Media query for 0 to 750px */
@media (max-width: 510px) {
  .ticketQuantityLabel {
    font-size: 1.61rem;
  }
}