.verify {
    padding: 20px;
    text-align: center; 
  }
  
  .verify h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 3rem;
  }
  
  .searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .searchInput {
    width: calc(80% - 30px); /* Hacer la barra de búsqueda 30px más pequeña */
    padding: 15px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8); /* Hacer la barra de búsqueda un poco transparente */
    color: #000000; /* Cambiar el color del texto a negro */
  }
  
  .searchInput::placeholder {
    color: #000000; /* Cambiar el color del texto del placeholder a negro */
  }
  
  .searchInput:focus {
    border-color: #ff4500;
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.5);
    outline: none;
  }
  
  .searchButton {
    position: relative;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .searchButton:hover {
    background-color: #ff5555;
    transform: scale(1.05);
  }
  
  .searchButton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    font-size: 2rem;
  }
  
  @media (min-width: 768px) { /* Escala md */
    .searchContainer {
      flex-direction: row;
      justify-content: center;
    }
  
    .searchInput {
      margin-right: 40px; /* Disminuir el margen en 40px */
      margin-bottom: 0; /* Eliminar el margen inferior */
    }
  
    .searchButton:hover::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  @media (min-width: 1024px) { /* Escala lg */
    .searchButton:hover::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  .customerInfo {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: left;
  }
  
  .tickets {
    text-align: center; /* Centrar los tickets */
    margin-top: 20px; /* Separación de 20px */
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los tickets */
    justify-content: center;
  }
  
  .ticket {
    padding: 10px;
    border: 2px solid #f44336;
    border-radius: 10px;
    background-color: #f8d7da;
    color: #721c24;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    .verify h1 {
      margin-bottom: 30px;
      font-size: 1.61rem;
    }
    .searchInput {
      width: 290px;
      padding: 15px;
      font-size: 1.2rem;
      border: 2px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      background-color: rgba(255, 255, 255, 0.8); /* Hacer la barra de búsqueda un poco transparente */
      color: #000000; /* Cambiar el color del texto a negro */
    }
    
  }